<h3>Comments</h3>
<% @post.comments.each do |comment| %>
<div class='well'>
    <p><strong><%= comment.username %></strong>: <%= comment.body %>
    <%= link_to '[x]', [comment.post, comment],
                    method: :delete,
                    data: { confirm: 'This will not be seen again'} %></p>
</div>
<% end %>